<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        h1{
            text-align: center;
        }
    </style>
</head>
<body>
<div th:insert="header"></div>
<div th:insert="menu"></div>
<div>
    <h1>Üdvözöljük weboldalunkon</h1>
    <h2>Kérem regisztrálja magát, hogy hozzáférjen a műveletekhez!</h2>
    <br>
    <h3>Elérhető műveletek:</h3>
    <ul>
        <li>Adatok: Adattáblák lekérése</li>
        <li>Üzenet küldése: Üzenet küldés az Adminnak</li>
        <li>Üzenetek: Üzenetek listázása</li>
    </ul>
</div>
<div th:insert="footer"></div>
</body>
</html>
