<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <style>
    #logo {
      width: 100%;
      background-color: #768da3;
      height: 150px;
    }
    #logo p{
      padding-top: 20px;
      text-align: center;
      font-family: 'Dancing Script', cursive;
      color: white;
      font-size: 51px;
      font-weight: bolder;
    }
  </style>
</head>
<body>
<header>
  <div id="logo">
  <p>Szoftver Karbantartás Kft.</p>
  </div>
</header>
</body>
</html>
